@charset 'utf-8';

* {
    line-height: 160%;
    box-sizing: border-box;
}

.first_view {
    background-image: url(../images/lower_page_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;

}

.first_view_title {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 40px;
}

.first_view_title_mini {
    color: rgb(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 16px;
}

.company {
    width: 100%;
    background-color: #f6f6f6;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    height: 98px;
    max-width: 960px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    align-items: center;
    width: 233px;
}

.content_map {
    width: 100%;
    max-width: 960px;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.content_map_title {
    min-width: 233px;

}

.access {
    padding-bottom: 31px;
}

.access_img_wrapper {
    max-width: 632px;
    padding-top: 44px;
}

.access_img {
    width: 100%;
    height: 100%;
}