@charset 'utf-8';


.footer {
    padding: 4rem;
    background-color: colors(footer_bg);

    .footer_upper_part {
        display: flex;
        align-items: center;
        max-width: 128rem;
        margin-right: auto;
        margin-left: auto;
    }

    .footer_img_wrapper {
        width: 20rem;
    }

    .footer_img {
        width: 100%;
        height: 100%;
    }

    .footer_navi {
        display: flex;
        align-items: center;
        gap: 7.2rem;
        margin-left: auto;
    }

    .footer_navi_item {
        font-size: px_vw(20px);
        color: colors(white);
    }

    .footer_lower_part {
        display: flex;
        align-items: flex-end;
        max-width: 128rem;
        margin-top: 6rem;
        margin-right: auto;
        margin-left: auto;
    }

    .footer_address {
        font-size: px_vw(20px);
        color: colors(white);
    }

    .footer_company {
        margin-left: auto;
        font-size: px_vw(20px);
        color: colors(white);
    }
}