@charset 'utf-8';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: colors(white);
    z-index: 1000;

    @include mq(pc) {
        height: 8rem;
    }

    @include mq(sp) {
        height: 4.8rem;
    }

    .header_img_wrapper {
        @include mq(pc) {
            height: 6rem;
            margin-left: 2.4rem;
        }

        @include mq(sp) {
            height: 3.2rem;
            margin-left: 1.6rem;
        }
    }

    .header_img {
        width: 100%;
        height: 100%;
    }

    .header_navi {
        display: flex;
        margin-left: auto;
        height: 100%;

        @include mq(sp) {
            display: none;
        }
    }

    .header_navi_item {
        width: 12rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        color: colors(black_87);
    }

    .header_navi_contact {
        width: 16rem;
        background-color: colors(main_2);
        margin-left: 1.6rem;
    }

    .header_navi_sp {
        width: 16rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(100%);
        transition: .4s;
        padding-top: 4.8rem;
        background-color: colors(main_2);

        &.is_active {
            transform: translate(0);
        }

        @include mq(pc) {
            display: none;
        }
    }

    .header_navi_item_sp {
        width: 100%;
        text-align: center;
        padding: 1.6rem;
        color: colors(white);

        &:hover {
            background-color: colors(white_50);
        }
    }

    .hamburger_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        margin-left: auto;
        margin-right: 1.6rem;
        z-index: 500;

        &:hover {
            cursor: pointer;
        }

        @include mq(pc) {
            display: none;
        }

        .hamburger_menu_border {
            width: 2.4rem;
            height: .2rem;
            position: relative;
            transition: all .4s;
            background-color: colors(black_87);

            &::before {
                content: "";
                width: 2.4rem;
                height: .2rem;
                position: absolute;
                top: -.8rem;
                transition: all .4s;
                background-color: colors(black_87);
            }

            &::after {
                content: "";
                width: 2.4rem;
                height: .2rem;
                position: absolute;
                bottom: -.8rem;
                transition: all .4s;
                background-color: colors(black_87);
            }

            &.is_active {
                // transform: rotate(45deg);
                background-color: transparent;

                &::before {
                    content: "";
                    width: 2.4rem;
                    height: .2rem;
                    position: absolute;
                    top: 0;
                    background-color: colors(black_87);
                    transform: rotate(45deg);
                    background-color: colors(white);
                }

                &::after {
                    content: "";
                    width: 2.4rem;
                    height: .2rem;
                    position: absolute;
                    bottom: 0;
                    background-color: colors(black_87);
                    transform: rotate(-45deg);
                    background-color: colors(white);
                }
            }
        }
    }
}